<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stock.info.stock.mappper.SingleStockCfgMapper">
    <select id="getSingleStockCfg" resultType="stock.info.stock.model.SingleStockCfg">
        select * from single_stock_cfg
        <where>
            <if test="stockNo != null and stockNo != ''">
                and stock_no = #{stockNo}
            </if>
        </where>
    </select>

    <insert id="insertSingleStockCfg">
        insert into `single_stock_cfg`(stock_no,stock_name,create_time,update_time,statistic_count_cfg, stock_type, stock_classified, stock_url)  values
        <foreach collection="list" item="cfg" separator=",">
            (#{cfg.stockNo},#{cfg.stockName},now(),now(),#{cfg.statisticCountCfg},#{cfg.stockType}, #{cfg.stockClassified}, #{cfg.stockUrl})
        </foreach>
    </insert>

    <update id="updateSingleStockCfg">
        update `single_stock_cfg` set stock_name = #{stockName}, statistic_count_cfg =#{statisticCountCfg}, update_time = now() where stock_no = stockNo
    </update>
</mapper>